<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Posts Viewer</title>
    <link href="{% static '/assets/css/home_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <nav class="header1">
        <ul class="nav">
            <li class="listitem listname"><h3 class="topheading name">Posts Viewer</h3></li>
            <li class="listitem listsearch"><input class="topheading search" type="search" id="search"></li>
            <li class="listitem listpostcreate"><button class="topheading postcreate" onclick="location.href='/home/createID'">
                Create a new Post</button></li>
        </ul>
    </nav>
    <h1 align="center">Posts</h1>
    <p>Hi this is new paragraph created by default. By clicking on the <b><i>Create a new Post</i></b>
         create a new post which will be displayed here.</p>
    {% for post in posts reversed %}
    <a style="text-decoration: none; color: black;" href="/post/{{post.id}}">
        <section class="allposts">
            <h2>{{post.title}}</h2>
            <h5>{{post.created_at}}</h5>
            <p>{{post.body|truncatewords:20}}</p>
        </section>
    </a>
    {% endfor %}
</div>



</body>
</html>