<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <form id="createuser" name="new_user" method="POST" action="/home/">
            {% csrf_token %}
            <label>Name: </label>
            <input type="text" name="name" id="name" width="100px"/>
            <label>Username: </label>
            <input type="text" name="username" id="username" width="100px"/>
            <label>Password: </label>
            <input type="text" name="password" id="password" width="100px"/>
            <label>Age: </label>
            <input type="text" name="age" id="age" width="100px"/>
            <input type="submit" value="Create"/>
        </form>
        <!--<form action="/home/" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit"/>
        </form>-->
    </div>
</body>
</html>