<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <form id="createuser" action="/home/" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="new_user" value="SignUp"/>
        </form><br>
        <form id="loginuser" action="/" method="POST">
            {% csrf_token %}
            <label>UserName: </label>
            <input type="text" name="login_username" id="username" width="100px"/>
            <label>Password: </label>
            <input type="text" name="login_password" id="password" width="100px"/>
            <input type="submit" name="login_user" value="Login"/>
        </form>
    </div>
</body>
</html>